html, body {
	height: 100%;
}

.genericon{

	font-size: 200px;
}

#ptr {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 10;
	text-align: center;
	height: 80px;
	padding: 30px 0;
}

#ptr .genericon {
	opacity: .6;
	font-size: 55px;
	width: auto;
	height: auto;
	transition: all .25s ease;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-top: 5px;
}
.ptr-refresh #ptr .genericon {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.ptr-refresh2 #ptr .genericon {
	-webkit-transform: rotate(-270deg);
	transform: rotate(-270deg);
}

.ptr-loading #ptr .genericon,
.ptr-reset #ptr .genericon {
	display: none;
}

#content {
	min-height: 100%;
	z-index: 20;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	padding: 0;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 200;
	color: #555;
	box-sizing: border-box;
}

.ptr-loading #content, .ptr-reset #content,
.ptr-loading #ptr, .ptr-reset #ptr {
	transition: all .25s ease;
}

.ptr-reset #content {
	-webkit-transform: translate3d( 0, 0, 0 );
	transform: translate3d( 0, 0, 0 );
}

.ptr-loading #content {
	-webkit-transform: translate3d( 0, 50px, 0 );
	transform: translate3d( 0, 50px, 0 );
}

footer{
	margin-bottom: 1000px;
}